@use 'variaveis';

.footer {
    padding: 26px 8px;

    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;

        @media screen and (max-width: 768px) {
            padding-top: 140px;
        }

        @media screen and (min-width: 768px) and (max-width:1023px){
            padding-top: 80px;
        }
    }

    &__logo {
        width: 80px;
        margin: 0 auto 10px;
    }

    &__links {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        
        &__item {
            display: inline-block;

            a {
                text-decoration: none;
                padding: 8px 16px;
                display: block;

                &:hover {
                    color: orangered;
                }
            }
        }
    }
}