.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    transition: opacity 3s ease-in;
    opacity: 1;

    &--is-hidden {
        background-color: transparent;

        .header {
            &__container {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    &__container{
        padding: 8px 36px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(0, 0, 0);

        img {
            max-width: 15vw;
            cursor: pointer;
        }
        
    }
}

